<div class="row">
    <div class="col-sm-4">
        <a href="/admin/profile-admin" class="btn btn-default" role="button">Back to Admin</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Table Products</h2>

        <div class="panel panel-default">
            <div class="panel-heading">Products Info</div>
            <br>
            <a href="/admin/insert" class="col-sm-4 col-md-offset-0">
                <button class="btn btn-success">
                    (+) Insert
                </button>
            </a>
            <br>
            <br>
            <div class="panel-body">
                <table id="product" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    {{# each products}}
                    <tbody>
                        <tr>
                            <td class="col-4 col-sm-1">
                                {{this._id}}
                            </td>
                            <td class="col-4 col-sm-3">
                                <img src="{{ this.imagePath }}" alt="..." class="img-responsive">
                            </td>
                            <td>
                                {{ this.title }}
                            </td>
                            <td>
                                {{ this.description }}
                            </td>
                            <td>
                                {{ this.price }}
                            </td>
                            <td style='text-align:center;vertical-align:middle'>

                                <a href="/admin/update/{{this._id}}">
                                    <button class="btn btn-primary">Update</button>
                                </a>
                                <br>
                                <br>
                                <form action="/delete/{{this._id}}" method="post">
                                    <button type="submit" class="btn btn-danger" onclick="return confirm ('Are you sure want to delete?')">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>